<div class="text-large text-orange">
	 &nbsp <img src="./photos/logo_medium.png">
</div>

<div class="container middle-pos">

<form name="answerForm" ng-submit="processForm()" novalidate> 

	<h2 class="text-orange">Choose one picture from each category</h2>
	<br><br> 
	<body>



	<div class="btn-group" name='question1' value='1' ng-model="formdata.questionid">
		<label>
	    	<input type="radio" name="q1" value="a" ng-model="formData.response" />
	    	<img src="./images/01a.png">
	  	</label>
  		<container class="leftspace">
	  	<label>
    		<input type="radio" name="q1" value="b" ng-model="formData.response" />
    		<img src="./images/01b.png">
  		</label>
  		</class>
  	</div>
  	<br>

<!--
	<div class="btn-group">
		<div class="topspace">
		<label>
	    	<input type="radio" name="group2" value="small" />
	    	<img src="./images/02a.png">
	  	</label>
  		<container class="leftspace">
	  	<label>
    		<input type="radio" name="group2" value="small"/>
    		<img src="./images/02b.png">
  		</label>
  		</container>
    </div>
	</div>
    <br>

	<div class="btn-group">
		<div class="topspace">
		<label>
	    	<input type="radio" name="group3" value="small" />
	    	<img src="./images/03a.png">
	  	</label>
  		<container class="leftspace">
	  	<label>
    		<input type="radio" name="group3" value="small"/>
    		<img src="./images/03b.png">
  		</label>
   		</class>
   	</div>
	</div>
	<br>

	<div class="btn-group">
		<div class="topspace">
		<label>
	    	<input type="radio" name="group4" value="small" />
	    	<img src="./images/04a.png">
	  	</label>
  		<container class="leftspace">
	  	<label>
    		<input type="radio" name="group4" value="small"/>
    		<img src="./images/04b.png">
  		</label>
  		</class>
    </div>
    </div>
    <br>

	<div class="btn-group">
		<div class="topspace">
		<label>
	    	<input type="radio" name="group5" value="small" />
	    	<img src="./images/05a.png">
	  	</label>
  		<container class="leftspace">
	  	<label>
    		<input type="radio" name="group5" value="small"/>
    		<img src="./images/05b.png">
  		</label>
		</class>
    </div>
    </div>
    <br>

	<div class="btn-group">
		<div class="topspace">
		<label>
	    	<input type="radio" name="group6" value="small" />
	    	<img src="./images/06a.png">
	  	</label>
  		<container class="leftspace">
	  	<label>
    		<input type="radio" name="group6" value="small"/>
    		<img src="./images/06b.png">
  		</label>
  		</class>
    </div>
    </div>
    <br>


	<div class="btn-group">
		<div class="topspace">
		<label>
	    	<input type="radio" name="group7" value="small" />
	    	<img src="./images/07a.png">
	  	</label>
  		<container class="leftspace">
	  	<label>
    		<input type="radio" name="group7" value="small"/>
    		<img src="./images/07b.png">
  		</label>
  		</class>
    </div>
    </div>
-->	

	<br><br>

	
	<button class="btn btn-def-bouvet" name="registerButton" type="submit">
			Registrer svar
	</button>
	</div>
</form>



<pre>
    {{ formData }}
</pre>



	<br><br><br><br><br><br>

	
	</body>