<div class="text-large text-orange">
	 &nbsp <img src="./photos/logo_medium.png">
</div>

<div class="container middle-pos">




<form name="answerForm" ng-submit="nextQuestion()" novalidate> 

	<h2 class="text-orange">Choose one picture from each category</h2>
	
<br><br> 
	<body>	

	<div class="btn-group" name='question1' value='1'>
		<label>
	    	<input type="radio" value="a" ng-model="formData.response" required/>
	    	<img ng-src="./images/{{nextQ}}a.png">

	  	</label>
  		<container class="leftspace">
	  	<label>
    		<input type="radio" value="b" ng-model="formData.response" required/>
    		<img ng-src="./images/{{nextQ}}b.png">
  		</label>
  		</class>
  		</div>
  		<br>
					
		</label>
		<br>
		<div class="text-white text-medium">
			
			<!--
			{{nextQ}} || {{answeredQuestions}} 
			 -->
		</div>
	
	<br><br>
	
	<button class="btn btn-def-bouvet" name="registerButton" type="submit">
			Neste spørsmål
	</button>
	</div>

</form>

<br><br>

<!--
<pre>
    {{ formData }} 
</pre>
 -->


	

	
	</body>




<!--
	<div class="btn-group" name='question1' value='1' ng-model="formdata.questionid">
		<label>
	    	<input type="radio" name="q1" value="a" ng-model="formData.response" />
	    	<img src="./images/01a.png">
	  	</label>
  		<container class="leftspace">
	  	<label>
    		<input type="radio" name="q1" value="b" ng-model="formData.response" />
    		<img src="./images/01b.png">
  		</label>
  		</class>
  	</div>
  	<br>
-->


<!--
	<div ng-repeat="question in questions" ng-model="question.questionid">
			
			<div id="{{question.questionid}}"  data-toggle="buttons">
				<label ng-repeat="option in question.options" class="btn" ng-model="formData.questionid">
					
					
					<input type="radio" name="{{question.questionid}}"  value="{{option.value}}" ng-model="formData.response" make-radio-button-detect-change required><br>
					
					
					<input type="radio" name="{{question.questionid}}" value="{{option.value}}" ng-model="formData[question.questionid]" make-radio-button-detect-change required><br>
					

					<img src="{{option.imageURL}}" style="width:250px; height:250px">		
					<br><br>		

					
					{{formData[question.questionid]}} ||
					
					{{question.questionid}}
					; 
					{{option.value}}
					-->