<div class="text-large text-orange">
	 &nbsp <img src="./photos/logo_medium.png">
</div>

<div class="container middle-pos">

<h2 class="text-orange">Choose one picture from each category</h2>
	
<br><br> 
	<body>	

	<div class="btn-group">
		
		<!--
		<label>
		<button>
	    	<img ng-src="./images/{{nextQ}}a.png" name="{{nextQ}}a" ng-click="nextQuestion('a')">
	    </button>
		</label>

	
		simplified: 
		<button>
	    	<img ng-src="./images/{{nextQ}}a.png" name="{{nextQ}}a" ng-click="nextQuestion('a')">
	    </button>
		-->

		<input type="radio" />
		<img ng-src="./images/{{nextQ}}a.png" name="{{nextQ}}a" ng-click="nextQuestion('a')">
    	
  		<container class="leftspace">
	  	
	  
		<input type="radio"/>
		<img ng-src="./images/{{nextQ}}b.png" name="{{nextQ}}b" ng-click="nextQuestion('b')">
		
   			
    	
    	<!--
    	<label>
    	<button>
    		<img ng-src="./images/{{nextQ}}b.png" name="{{nextQ}}b" ng-click="nextQuestion('b')">
    	</button>
  		</label>
		-->

  		
  		</container>
  		</div>
  		
  		<br><br>

		<!--
		<div class="text-white text-medium">			
			{{nextQ}} || {{questionid}} || {{response}}		
		</div>
		-->

	<br><br>
	<!--
	<button class="btn btn-def-bouvet" name="registerButton" type="submit">
			Neste spørsmål
	</button>
	-->
	</div>



<br><br><br><br><br><br><br><br><br><br>

	<div class="middle-pos">
		<a href="#/partial-start" class="btn btn-def-bouvet btn-front-large">
			<span class="glyphicon glyphicon-repeat"></span>
			Start på nytt
		</a>
	</div>

<!--
<pre>
    {{ formData }} 
</pre>
 -->


	

	
	</body>



