<div class="middle-pos">

	<h2 class="text-orange text-large top-pad-smallest">{{mainTitle}}</h2>
	<h6 class="text-white"> {{dottedLine}}</h6>
	<p class="text-white text-smaller">{{secondaryTitle}}</p>
	<h6 class="text-white"> {{dottedLine}}</h6>

	<br>

	<div class="text-white text-smaller">
		<p>	Takk for din påmelding! </p>
		<p>Hvis du vinner, tar vi kontakt ved hjelp av kontaktinformasjonen du har oppgitt.</p>
	</div>
	<br><br>

	<a href="#/partial-start"class="btn btn-def-bouvet" name="menuButton">
		<span class="glyphicon glyphicon-repeat">
		</span>
		Ny undersøkelse
	</a>
</div>

	<div class="logo-bottom-bouvet-absolute middle-pos">
		<img src="./photos/logo1.png">
	</div>
