
<div class="text-large text-orange ">
	 &nbsp <img src="./photos/logo_medium.png">
</div>

<div class="container middle-pos">
	<h2 class="text-orange text-large top-pad-smallest">{{mainTitle}}</h2>
	<h6 class="text-white">{{dottedLine}}</h6>
	<p class="text-white text-smaller">{{secondaryTitle}}</p>
	<h6 class="text-white">{{dottedLine}}</h6>
	<!-- a button taking you to the page for registering answer-->
	<div>
		<a href="#/partial-register-gender" name="startButton" class="btn btn-def-bouvet btn-start">
			Start
		</a>
	</div>
</div>
