<div class="container-fluid">
	
	<div class="row top-pad-medium bottom-pad-small">
			<!--a button that takes you back to the menu -->
			<div class="col-sm-2 col-sm-offset-1">
				<a href="#/partial-index.html" name="menuButton" class="btn btn-def-bouvet">
					<span class="glyphicon glyphicon-home">
					</span>
					Tilbake til meny
				</a>
			</div>

	</div>


	


			
	

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

		<div class="col-sm-4 col-sm-offset-5 text-smaller text-white top-pad-small">
			Totalt antall svar: {{answers.length}}
		<br><br>
				Index: {{startAnswers + 1}} - {{startAnswers + 10}}
		<br><br>
		</div>

		<!-- table displaying the contents of the database -->
		<table class="table table-hover bg-white">
			<thead>
				<tr>
					<th>UserID</th>
					<th>QuestionID</th>
					<th>Svar</th>
				</tr>
			</thead>
			<tbody class="listview">
				<!--the ng-class is used for dynamically assigning classes to the rows to give them different colors -->
				<tr ng-repeat="answer in answers 
				| answersFromTo:startAnswers:startAnswers +  limitAnswers 
				| orderBy:['userid']"
				ng-class="{
				warning: answer.locked === 1, 
				danger : answer.processed === 0 && answer.locked === 0, 
				success : answer.processed === 1 && answer.locked === 0
				}">
					<td>{{answer.userid}}</td>
					<td>{{answer.questionid}}</td>
					<td>{{answer.response}}</td>
		</div>
						
						

		<!-- a modal that wants the user to confirm the  -->
		<div class="modal" id="confirmDeleteSingleModal" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class ="modal-header modal-confirm-delete">
						<h4 class="modal-title">Bekreft sletting</h4>
					</div>
					<div ng-class="modal-body">
						Er du sikker på at du vil slette dette svaret?
					</div>
					<div class="modal-footer">
						<button class="btn modal-confirm-delete" name="confirmDeleteSingle" ng-click="deleteAnswer(oneAnswer.id_answers)" data-dismiss="modal">Slett</button>
						<button class="btn btn-primary" data-dismiss="modal" ng-click="closeAndUnlock(oneAnswer.id_answers)">Avbryt</button>
					</div>
				</div>
			</div>
		</div>

		</td>
		</tr>
		</tbody>
		</table>
	</div>

	<br><br><br><br><br>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-1">
			<!--a button that triggers a modal to confirm that you want to delete all answers -->
			<button class="btn btn-def-bouvet" name="deleteAnswers" data-toggle="modal" data-target="#confirmDeleteModal" >
				<span class="glyphicon glyphicon-trash">
				</span>
				Slett alle
			</button>
			<br><br>

		
			<button class="btn btn-def-bouvet" ng-click="tenFirstAnswers()" ng-disabled="startAnswers <= 0">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>

			<button class="btn btn-def-bouvet" ng-click="tenPrevAnswers()" ng-disabled="startAnswers <= 0">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>

			<button class="btn btn-def-bouvet" ng-click="tenNextAnswers()" ng-disabled="startAnswers >= answers.length - 10">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>

			<button class="btn btn-def-bouvet" ng-click="tenLastAnswers()" ng-disabled="startAnswers >= answers.length - 10">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		
	</div>

	<br><br>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-1">
			<a href="/exportAnswers" class="btn btn-def-bouvet" download>Eksporter</a>
		</div>
	</div>

		<!--a modal that wants you to confirm that you want to delete all answers -->
		<div class="modal" id="confirmDeleteModal" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content ">
					<div class ="modal-header modal-confirm-delete">
						<h4 class="modal-title">Bekreft sletting</h4>
					</div>
					<div ng-class="modal-body">
						Er du sikker på at du vil slette alle svarene i databasen?
					</div>
					<div class="modal-footer">
						<button class="btn modal-confirm-delete" name="confirmDelete" ng-click="deleteAnswers()" data-dismiss="modal">Slett alle</button>
						<button class="btn btn-primary" data-dismiss="modal">Avbryt</button>
					</div>
				</div>
			</div>
		</div>
		
</div>