<div class="text-large text-orange logo-topspace">
	 &nbsp <img src="./photos/logo_medium.png">
</div>

<div class="container middle-pos">

<h2 class="text-orange">{{registerAnswerHeader}}</h2>
	
<br>
<body>	
	<div class="custom-image-size">
		<img ng-src="./images/{{nextQ}}a.png" name="a" ng-click="nextQuestion('a')">
		<img ng-src="./images/{{nextQ}}b.png" name="b" ng-click="nextQuestion('b')">		
	</div>
</div>
	
	<div class="middle-pos top-pad-small">
		<a href="#/partial-start" class="btn btn-def-bouvet btn-front-large">
			<span class="glyphicon glyphicon-repeat"></span>
			Start på nytt
		</a>
	</div>

</body>