<div class="text-large"> &nbsp <img src="./photos/logo_medium.png"> </div>


<div class="container middle-pos">	
	<h2 class="text-orange text-large top-pad">Same same, but different</h2>
	<h6 class="text-white"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h6>
	<p class="text-white text-smaller">There are two kinds of people.</p>
	<h6 class="text-white"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h6>
	<br>



	<div class="text-white text-medium middle-pos">
		
		Du er {{percentages[0]}} % lik gjennomsnittet
		<br>
		Du er {{percentages[1]}} % lik gjennomsnittlig ansatt i Bouvet
		<br>
		Du er {{percentages[2]}} % lik gjennomsnittet for menn
		<br>
		Du er {{percentages[3]}} % lik gjennomsnittet for kvinner

<!--
		<div ng-repeat="value in percentages track by $index">
			{{value}}
		</div>
-->

	</div>







<br><br>
	<div class="text-white">
		<div class="text-small">
			<p> Dine svar er nå registrert.</p>
		</div>
		<p> Hvis du vil være med i trekningen av premien, kan du fylle
			ut informasjonen under. </p>
		<p>Informasjonen du har oppgitt vil bli slettet etter trekningen, og ikke benyttes av Bouvet til annet formål</p>
	</div>

	<br><br><br><br>


	<form class="form-horizontal" name="userForm" ng-submit="submitParticipant()" novalidate>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-4">
				<input type="text" class="form-control form-field text-white" name="participantName" placeholder="Navn" ng-model="participant.name" required ng-maxlength="90">
			</div>
		</div>
		<p ng-show="userForm.participantName.$error.maxlength" class="help-block has-error-custom">
			Navnet er for langt, maks lengde er 90 tegn.
		</p>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-4">
				<input type="text" class="form-control form-field text-white" name="participantEmail" placeholder="Email eller telefonnummer" ng-model="participant.email" required ng-maxlength="90" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$|^[0-9]{8}$/">
			</div>
		</div>
		<p ng-show="userForm.participantEmail.$error.maxlength" class="help-block has-error-custom">
			Kontaktinformasjonen er for lang, maks lengde er 90 tegn.
		</p>
		<p ng-show="duplicateEmail === participant.email" class="help-block has-error-custom">
			Denne kontaktinformasjonen er allerede registrert.
			Vennligst prøv en annen.
		</p>
		
		<p ng-show="userForm.participantEmail.$dirty && userForm.participantEmail.$error.pattern"
		
		class="help-block has-error-custom">
			Kontaktinformasjonen må inneholde enten telefonnr eller epost
		</p>
		
		<br>
		

		<div class="btn-group">
			<label>
				<input type="radio" value="a" ng-model="participant.prize" required/>
		    	<img ng-src="./images/prize/1a.png" name="participantPrizeA">
		  	</label>

	  		<container class="leftspace">
		  	
		  	<label>
	    		<input type="radio" value="b" ng-model="participant.prize" required/>
	    		<img ng-src="./images/prize/1b.png" name="participantPrizeB" >
	  		</label>
  		</div>

  		<br><br><br>			
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<button type="submit" name="submitButton" class="btn btn-def-bouvet" ng-disabled="
				(userForm.participantName.$invalid 
				|| duplicateEmail === participant.email 
				|| userForm.participantEmail.$error.pattern 
				|| userForm.participantEmail.$error.required
				|| userForm.$invalid)
				">Submit info</button>
			</div>
		</div>


		<br>
		<div class="text-white text-medium">
			
			<!--
			{{nextQ}} || {{questionid}} || {{response}}
			-->
		</div>
	
	<br><br>
	<!--
	<button class="btn btn-def-bouvet" name="registerButton" type="submit">
			Neste spørsmål
	</button>
	-->
	
	</form>

	<br>

	<div>
		<a href="#/partial-start" name="escapeButton" class="btn btn-escape text-small">
			Nei takk 
		</a>
		<br>
	</div>


	<br><br><br><br>

</div>