

    <!--
    <div class="row top-pad-medium">
        <!--a button that takes you back to the main menu 
        <div class="col-sm-2 col-sm-offset-1">
           
            <a href="#/partial-stat-overview" name="statisticMenuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-stats">
                </span>
                Tilbake til statistikk
            </a>
            <br><br>
            <a href="#/partial-index" name="menuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-home">
                </span>
                Tilbake til meny
            </a>
        </div>
    </div>
        <br>

        <div class="col-sm-6 col-sm-offset-2 text-white text-smallest">
            Totalt antall spørsmål besvart: {{counts[0]["total"]}} <br>
        </div>
-->





<!-- http://codepen.io/anon/pen/vOQvVa -->


<!--
-->
    <div class="col-sm-5 col-sm-offset-3 topspace">
        <div id="slides_control" class="text-white text-small middle-pos">
            <div>
                <h1> Gjennomsnittspersonen: </h1>
                <carousel interval="4000" class="topspace">
                <slide ng-repeat="image in imagePairs" active="image.active">
                
                <table>
                    <tr class="image-carousel">
                        <td><img ng-src="./images/{{image.questionid}}a.png"></td>
                        <td><img ng-src="./images/{{image.questionid}}b.png"></td> 
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>{{image.percentageA}} % </td>
                        <td>{{image.percentageB}} % </td>
                    </tr>
                </table>
                    
                </slide>
                </carousel>
            </div>
         </div>
    </div>
  




<!--

    <div class="col-sm-5 col-sm-offset-1 topspace">
        <div id="slides_control" class="text-white text-small middle-pos">
            <div>
                <h3> Gjennomsnittspersonen </h3>
                <carousel interval="4000">
                <slide ng-repeat="image in imagePairs" active="image.active">
                
                <table>
                    <tr class="image-carousel">
                        <td><img ng-src="./images/{{image.questionid}}a.png"></td>
                        <td><img ng-src="./images/{{image.questionid}}b.png"></td> 
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>{{image.percentageA}} % </td>
                        <td>{{image.percentageB}} % </td>
                    </tr>
                </table>
                    
                </slide>
                </carousel>
            </div>
         </div>
    </div>

    <div class="col-sm-5 col-sm-offset-1 topspace">
        <div id="slides_control1" class="text-white text-smallest middle-pos">
            <div>
                <h3> Ansatte i Bouvet </h3>
                <carousel interval="4000">
                    <slide ng-repeat="image in imagePairsBouvet" active="image.active">
                    <table>
                        <tr class="image-carousel">
                            <td><img ng-src="./images/{{image.questionid}}a.png"></td>
                            <td><img ng-src="./images/{{image.questionid}}b.png"></td> 
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>{{image.percentageA}} % </td>
                            <td>{{image.percentageB}} % </td>
                        </tr>
                    </table>
                    </slide>
                </carousel>
             </div>
        </div>
    </div>

    <br><br>

    <div class="col-sm-5 col-sm-offset-1">
        <div id="slides_control1" class="text-white text-smallest middle-pos">
            <div>
                <h3> Gjennomsnittsmannen </h3>
                <carousel interval="4000">
                    <slide ng-repeat="image in imagePairsMale" active="image.active">
                    <table>
                        <tr class="image-carousel">
                            <td><img ng-src="./images/{{image.questionid}}a.png"></td>
                            <td><img ng-src="./images/{{image.questionid}}b.png"></td> 
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>{{image.percentageA}} % </td>
                            <td>{{image.percentageB}} % </td>
                        </tr>
                    </table>
                    </slide>
                </carousel>
             </div>
        </div>
    </div>

    <div class="col-sm-5 col-sm-offset-1">
        <div id="slides_control1" class="text-white text-smallest middle-pos">
            <div>
                <h3> Gjennomsnittskvinnen </h3>
                <carousel interval="4000">
                    <slide ng-repeat="image in imagePairsFemale" active="image.active">
                    <table>
                        <tr class="image-carousel">
                            <td><img ng-src="./images/{{image.questionid}}a.png"></td>
                            <td><img ng-src="./images/{{image.questionid}}b.png"></td> 
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>{{image.percentageA}} % </td>
                            <td>{{image.percentageB}} % </td>
                        </tr>
                    </table>
                    </slide>
                </carousel>
             </div>
        </div>
    </div>

-->









