<div class="container-fluid">
    
    <div class="row top-pad-medium">
        <!--a button that takes you back to the main menu -->
        <div class="col-sm-2 col-sm-offset-1">
           
            <a href="#/partial-stat-overview" name="menuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-stats">
                </span>
                Tilbake til statistikk
            </a>
            <br><br>
            <a href="#/partial-index" name="menuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-home">
                </span>
                Tilbake til meny
            </a>
        </div>


    </div>
    <br><br><br>


    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="row text-orange text-medium middle-pos top-pad-small">
                Statistikk - Gjennomsnittsperson
            </div>

            <!-- Mal for hvordan tabellen skal se ut -->
            <table class="table table-hover middle-pos bg-white">
                <thead>
                    <tr>
                        <th class="middle-pos">Question</th>
                        <th class="middle-pos">Mest valgte alternativ</th>
                        <!-- -->
                        <th class="middle-pos">Antall ganger valgt</th>
                        <th class="middle-pos">a</th>
                        <th class="middle-pos">b</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in dataListAverage">                                       
                        <td>{{data.questionid}}</td>
                        <td>{{data.mostFreq}}</td>
                        <!-- -->
                        <td>{{data.greatest}}</td>
                        <td>{{data.responseA}}</td>
                        <td>{{data.responseB}}</td>
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-4 col-sm-offset-1">
            <div class="row text-orange text-medium middle-pos top-pad-small">
                Statistikk - GjennomsnittsBouvet
            </div>
            <table class="table table-hover middle-pos bg-white">
                <thead>
                    <tr>
                        <th class="middle-pos">Question</th>
                        <th class="middle-pos">Mest valgte alternativ</th>
                        <!-- -->
                        <th class="middle-pos">Antall ganger valgt</th>
                        <th class="middle-pos">a</th>
                        <th class="middle-pos">b</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in dataListBouvet">                                       
                        <td>{{data.questionid}}</td>
                        <td>{{data.mostFreq}}</td>
                        <!-- -->
                        <td>{{data.greatest}}</td>
                        <td>{{data.responseA}}</td>
                        <td>{{data.responseB}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br><br><br>



    <div class="row">
        <div class="col-sm-3 col-sm-offset-2">
            <div class="row text-orange text-medium middle-pos top-pad-small">
                Statistikk - Gjennomsnittsmann
            </div>
            <table class="table table-hover middle-pos bg-white">
                <thead>
                    <tr>
                        <th class="middle-pos">Question</th>
                        <th class="middle-pos">Mest valgte alternativ</th>
                        <!--
                        <th class="middle-pos">Antall ganger valgt</th>
                        <th class="middle-pos">a</th>
                        <th class="middle-pos">b</th>
                        -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in dataList">                                       
                        <td>{{data.questionid}}</td>
                        <td>{{data.mostFreq}}</td>
                        <!--
                        <td>{{data.greatest}}</td>
                        <td>{{data.responseA}}</td>
                        <td>{{data.responseB}}</td>
                        -->
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-sm-3 col-sm-offset-2">
            <div class="row text-orange text-medium middle-pos top-pad-small">
                Statistikk - Gjennomsnittskvinne
            </div>
            <table class="table table-hover middle-pos bg-white">
                <thead>
                    <tr>
                        <th class="middle-pos">Question</th>
                        <th class="middle-pos">Mest valgte alternativ</th>
                        <!--
                        <th class="middle-pos">Antall ganger valgt</th>
                        <th class="middle-pos">a</th>
                        <th class="middle-pos">b</th>
                        -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in dataList">                                       
                        <td>{{data.questionid}}</td>
                        <td>{{data.mostFreq}}</td>
                        <!--
                        <td>{{data.greatest}}</td>
                        <td>{{data.responseA}}</td>
                        <td>{{data.responseB}}</td>
                        -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>