<div class="container middle-pos">
	<h2 class="text-orange text-large top-pad-small">{{mainTitle}}</h2>
	<h6 class="text-white">{{dottedLine}}</h6>
	<p class="text-white text-smaller">{{secondaryTitle}}</p>
	<h6 class="text-white">{{dottedLine}}</h6>
	<!-- a button taking you to the page for registering answer-->
	<div>
		<a href="#/partial-register-answer" name="startButton" class="btn btn-def-bouvet btn-start">
			Start
		</a>
	</div>
</div>

<div class="logo-bottom-bouvet-absolute middle-pos"> <img src="./photos/logo1.png"> </div>
