<div class="text-large text-orange">
	 &nbsp <img src="./photos/logo_medium.png">
</div>


<div class="middle-pos concept-logo">
	<img src="./photos/samesame_konsept.png">
</div>

<br><br>
<div class="middle-pos">

	<div class="text-white text-smaller">
		<p>	Takk for din påmelding! </p>
		<p>Hvis du vinner, tar vi kontakt ved hjelp av kontaktinformasjonen du har oppgitt.</p>
	</div>
	<br><br>

	<a href="#/partial-start"class="btn btn-def-bouvet" name="menuButton">
		<span class="glyphicon glyphicon-repeat">
		</span>
		Ny undersøkelse
	</a>
</div>
