<div class="container-fluid">
    
    <div class="row top-pad-smaller">
        <!--a button that takes you back to the main menu -->
        <div class="col-sm-2 col-sm-offset-1">
           
            <a href="#/partial-stat-overview" name="statisticMenuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-stats">
                </span>
                Tilbake til statistikk
            </a>
            <br><br>
            <a href="#/partial-index" name="menuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-home">
                </span>
                Tilbake til meny
            </a>
        </div>
    </div>
   


    <div class="col-sm-4 col-sm-offset-4">
       
        <div ng-repeat="dataList in allData" class="text-white text-medium middle-pos">
            List
            <div class="text-orange text-small text-center">
                {{dataList.name}}
            </div>
        
            <div ng-repeat="data in dataList" class="typePerson">                                       
                    
                    <img ng-src="./images/{{data.questionid}}{{data.mostFreq}}.png" imageonload></td>

            </div>
            <br>
        </div>
    </div>

</div>



