
<div class="text-large">
	 &nbsp <img src="./photos/logo_medium.png">
</div>

<div class="middle-pos concept-logo">
	<img src="./photos/samesame_konsept.png">
</div>


<div class="middle-pos">
	
		
		
		<h4 class="text-white text-large"> Hvem er du? </h4>
		<h5 class="text-orange text-medium"> Velg kjønn </h5>

		<div class="btn-group bg-white reg-answer-orange custom-image-size-gender">
			<img ng-src="./images/{{nextQ}}a.png" name="a" ng-click="nextQuestion('a')">
			<img ng-src="./images/{{nextQ}}b.png" name="b" ng-click="nextQuestion('b')">	
	  	</div>

		<div class="middle-pos top-pad-small">
			<a href="#/partial-start" class="btn btn-def-bouvet btn-front-large">
				<span class="glyphicon glyphicon-repeat"></span>
				Start på nytt
			</a>
		</div>
	
	
</div>