<div class="container-fluid">
    
    <div class="row top-pad-medium">
        <!--a button that takes you back to the main menu -->
        <div class="col-sm-2 col-sm-offset-1">
           
            <a href="#/partial-stat-overview" name="menuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-stats">
                </span>
                Tilbake til statistikk
            </a>
            <br><br>
            <a href="#/partial-index" name="menuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-home">
                </span>
                Tilbake til meny
            </a>
        </div>


    </div>
    <br><br><br>


    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
           
            <div ng-repeat="dataList in allData">

                <div class="text-orange text-small text-center">
                    {{dataList.name}}
                </div>

            <br>

            <!-- Mal for hvordan tabellen skal se ut -->
            <table style="img-small" class="table table-hover middle-pos bg-white">
                <thead>
                    <tr>
                        <!--
                        <th class="middle-pos">Question</th>
                        <th class="middle-pos">Mest valgte alternativ</th>
                        -->
                        <th class="middle-pos">Bilde </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in dataList">                                       
                        <!--
                        <td>{{data.questionid}}</td>
                        <td>{{data.mostFreq}}</td>                                         
                        -->
                        <td><img ng-src="./images/{{data.questionid}}{{data.mostFreq}}.png" imageonload></td>

                    </tr>
                </tbody>
            </table>
            <br><br><br><br>
        </div>
    </div>


</div>