<div class="container-fluid">
    
    <div class="row top-pad-medium">
        <!--a button that takes you back to the main menu -->
        <div class="col-sm-2 col-sm-offset-1">
            <a href="#/partial-index" name="menuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-home">
                </span>
                Tilbake til meny
            </a>
        </div>
        <div class="col-sm-5 col-sm-offset-2 text-white text-smallest">
            Totalt antall spørsmål: {{dataList.length}}
        </div>
    </div>
    <br><br>
    <div class="row text-orange text-large middle-pos top-pad-small">
        Statistikk
    </div>
    <br>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-hover middle-pos bg-white">
                <thead>
                    <tr>
                        <th class="middle-pos">Question</th>
                        <th class="middle-pos">a</th>
                        <th class="middle-pos">% a</th>
                        <th class="middle-pos">b</th>
                        <th class="middle-pos">% b</th>
                        <th class="middle-pos">Totalt antall svar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in dataList">                                       
                        <td>{{data.questionid}}</td>
                        <td>{{data.responseA}}</td>
                        <td>{{data.percentageA}}</td>
                        <td>{{data.responseB}}</td>
                        <td>{{data.percentageB}}</td>
                        <td>{{data.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


<!--
    <br><br><br><br><br><br>
    <div class="row middle-pos"> 
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-def-bouvet" ng-click="tenFirstParticipants()" ng-disabled="startParticipants <= 0">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>

                <button class="btn btn-def-bouvet" ng-click="tenPrevParticipants()" ng-disabled="startParticipants <= 0">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>

                <button class="btn btn-def-bouvet" ng-click="tenNextParticipants()" ng-disabled="startParticipants >= participants.length - 10">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>

                <button class="btn btn-def-bouvet" ng-click="tenLastParticipants()" ng-disabled="startParticipants >= participants.length - 10">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>  
    </div>

-->
    

  
    


       
        
    </div>