
    
<div class="text-orange text-large middle-pos top-pad-smallest">
       Den typiske {{listname}}
</div>


<div class="top-pad-small col-sm-offset-2">
    <div ng-repeat="list in activeList" class="text-white text-medium middle-pos">
        <div class="col-sm-2">
            <div ng-repeat="element in list" class="custom-image-size-type top-pad-small">
                <img ng-src="./images/{{element.questionid}}{{element.mostFreq}}.png">
            </div>
        </div>
    </div>
</div>


<!--       
    <div ng-repeat="dataList in allData" class="text-white text-medium middle-pos">

        <div class="col-sm-10 col-sm-offset-1">
            

            <div class="text-white text-small">
            ===New List===
            </div>

            <div ng-repeat="data in dataList" class="custom-image-size-type">      
                <img ng-src="./images/{{data.questionid}}{{data.mostFreq}}.png">
            </div>                                                
                
 
            </div>
       
    </div>
-->    

</div>



