<div class="container-fluid">
    
    <div class="row top-pad-smaller">
    	<div class="col-sm-2 col-sm-offset-1">
    	<a href="#/partial-index" name="menuButton" class="btn btn-def-bouvet">
                <span class="glyphicon glyphicon-home">
                </span>
                Tilbake til meny
            </a>

<div class="container-fluid middle-pos btn-group-custom body-bouvet">	
	<!--a button that takes you the page where all the answers in the database are displayed -->
	
	<div>
		<a href="#/partial-stat-table" name="seeTableStatistics" class="btn btn-def-bouvet btn-block btn-front-large">
			<span class="glyphicon glyphicon-stats"></span>
			Se tabelloversikt
		</a>
	</div>

	<br>
	
	<!--a button that takes you to a page that displays all the participants in the database -->
	<div>
		<a href="#/partial-stat-typePerson" name="seeTypeStatistics" class="btn btn-def-bouvet btn-block btn-front-large">
			<span class="glyphicon glyphicon-user"></span>
			Type persons
		</a>
	</div>

	<br>
	
	<div>
		<a href="#/partial-stat-carousel" name="seeCarouselStatistics" class="btn btn-def-bouvet btn-block btn-front-large">
			<span class="glyphicon glyphicon-user"></span>
			Karusell
		</a>
	</div>

	
	<br>

	